@keyframes fadeIn {
  0% {
      opacity: 0; /* Comienza invisible */
      transform: translateY(40px); /* Opcional: comienza ligeramente desplazado hacia abajo */
  }
  100% {
      opacity: 1; /* Termina completamente visible */
      transform: translateY(0); /* Termina en su posición original */
  }
}
body {
  position: relative; /* Asegúrate de que el pseudo-elemento se posicione en relación con el body */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: auto;
  height: auto;
  background-image: url('../assets/p2.png'); /* Ruta a tu imagen */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.fondo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  background: rgba(0, 0, 0, 0.5); /* Filtro oscuro con opacidad del 50% */
  z-index: -1; /* Asegura que el filtro esté detrás del contenido */
}

html {
  margin: 0;
}


.container {
  display: grid;
  align-items: center; /* Centra verticalmente */
  align-items: stretch; /* Esto asegura que los elementos hijos tengan la misma altura */
  height: 10vh; /* Altura del contenedor, opcional */
  width: 100%;
  grid-template-columns: 1fr auto 1fr;
}

.cont {
  display: flex;
  align-items: center; /* Centra verticalmente */
  align-items: stretch; /* Esto asegura que los elementos hijos tengan la misma altura */
  height: 10vh; /* Altura del contenedor, opcional */
  width: 100%;
  gap: 3vw;

}


.container2 {
  grid-column: 2;
  display: flex;
  width: 60vh;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  gap: 20px;
}
.fondo {
  height: 200vh;
}
.container3 {
  display: flex;
  width:100vw;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  gap: 20px;
  padding-top: 20vh;
  animation: fadeIn 1s ease-out; /* Dura 1 segundo con una transición suave */
}

.c2 {
  display: flex;
  width:100vw;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  gap: 2vw;
  padding-left: 2VW;
  padding-right: 2vw;
  padding-top: 1vw;
  animation: fadeIn 1s ease-out; /* Dura 1 segundo con una transición suave */
}

.container4 {
  display: flex;
  width:50vw;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  animation: fadeIn 3s ease-out; /* Dura 1 segundo con una transición suave */
}
.alt{
  height: 25vh;
}
.container5 {
  display: flex;
  width:100vw;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  animation: fadeIn 3s ease-out; /* Dura 1 segundo con una transición suave */
}

.centro {
  display: flex;
  width:33vw;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  animation: fadeIn 3s ease-out; /* Dura 1 segundo con una transición suave */
}

.c {
  display: flex;
  width:30vw;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  background-color: rgba(0, 0, 0, 0.216);
}

.card {
  display: flex;
  width: 15vw;
  height: 10vh;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 1rem;
  color:rgba(240, 225, 225, 0.995);
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */

}
.card {
  background: rgba(255, 255, 255, 0.073);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(209, 213, 219, 0.129);
 }

 .card2 {
  display: flex;
  width: 30vh;
  height: 0.5vh;
  padding: 2rem;
  margin: 2vw;
  border-radius: 1rem;
  font-size: 1rem;
  color:rgba(240, 225, 225, 0.995);
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */

}
.card2 {
  background: rgba(255, 255, 255, 0.073);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(209, 213, 219, 0.129);
 }


.ss {
  height: 50vh;

}

.text {
  color: #fff9f9;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
}

.texti {
  color: #bdbcbc;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
}

.text:hover{
  color: #3232eb;
}

.texti:hover{
  color: #3232eb;
}
.text2 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 300%;
}
.text3 {
  color: #a5a0a0;
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
  text-align: center;
}

.text4 {
  color: #a5a0a0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: clamp(10px, 2vw, 20px);
}
.left {
  grid-column: 1; /* Coloca el primer elemento en la primera columna */
  justify-content: start;
  align-items: center;
  padding-left: 2vw;
}

.right {
  grid-column: 3; /* Coloca el tercer elemento en la tercera columna */
  display: flex;
  justify-self: end;
  align-items: center;
  padding-right: 2vw;
}

.a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.a2 {
  text-decoration: none;
  display: flex;
  align-items: center;
  
}
.a2:hover{
  animation:scale 1s ease-out;
}



@keyframes scale {
  0%, 100% {
      transform: scale(1); /* Tamaño original */
  }
  50% {
      transform: scale(1.1); /* Aumenta al 150% del tamaño */
  }
}


.r {
  width: 6vw; /* El ancho del ícono será el 20% del ancho de la ventana */
  height: auto; /* Mantener la proporción del ícono */
  max-width: 70px; /* Tamaño máximo del ícono */
  min-width: 30px;  /* Tamaño mínimo del ícono */
}

.r2:hover {
  color: #3232eb;
}


.row {
  display: grid;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  align-items: stretch; /* Esto asegura que los elementos hijos tengan la misma altura */
  height: 10vh; /* Altura del contenedor, opcional */
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr;

}

.center {
  grid-column: 2;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  

}

.cleft {
  grid-column: 1; /* Coloca el primer elemento en la primera columna */
  justify-content: center;
  align-items: center;
  
}

.cright {
  grid-column: 3; /* Coloca el tercer elemento en la tercera columna */
  justify-self: center;
  align-items: center;
}
